<div class="login-container">

  <a href="/"><img src="../images/logo.png" id="logo-login" /></a>

  <div class="row login">
    <div class="col-md-12">
      <h2 class="login-head">Login</h2>

      <form class="form login-form">

        <div class="form-group">
          <label for="email-login">What is your email?</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">What is your password?</label>
          <input
            class="form-input"
            type="password"
            id="password-login"
            placeholder="minimum 8 characters"
          />
        </div>
        <br />
        <div class="form-group">
          <button
            class="btn btn-primary"
            id="login-btn"
            type="submit"
          >login</button>
        </div>
      </form>
    </div>
  </div>

</div>

<script src="./js/login.js"></script>