<div class="signup-container">  
 
  <a href="/"><img src="../images/logo.png"  id="logo-signup"></a>
  
  <div class="col-md-12">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">What is your name?</label>
        <input class="form-input" type="text" id="name-signup" />
        <label for="-signup">What is your email address?</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      
      <div class="form-group">
        <label for="password-signup">What would you like your password to be?</label>
        <input class="form-input" type="password" id="password-signup" placeholder="minimum 8 characters"/>
      </div>
      <br>
   
      <br>
      <div class="form-group">
        <button class="btn btn-primary" id="signup-btn" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

</div> 

<script src="./js/signup.js"></script>